<style>
    .modal-content {
      background-color: #212121
    }
  </style>

<div class="modal fade" id="Modal-sellingConfirm-{{owend_item.id}}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
            {{ owend_item.name }}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {{ sellForm.hidden_tag() }}
          <h4 class="text-center">Are you sure about this Action</h4>
          <br>
          <p class="text-center">{{ owend_item.name }} for {{ owend_item.Price }}$ dollars</p>
          <br>
          <input id="sold_item" name="sold_item" type="hidden" value="{{owend_item.name}}">
          {{ sellForm.submit(class="btn btn-outline-danger btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>