{% extends 'base.html'%}
{%block title%}
    login page
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color: white;">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://yt3.ggpht.com/B1Rd3r-j8IUF9UEnbo8b0KbW4iQDxGbRjlvusMT5S5dFsozuflh3dPMCzCS-UfkeMzI9RRaw=s600-c-k-c0x00ffffff-no-rj-rp-mo" width="190" height="190" style="border-radius: 50%;">
            <h1 class="h3 mb-3 font-weight-normal">
                Login to existing Account
            </h1>
            <br>

            {{ form.username.label() }}
            {{ form.username(class="form-control",placeholder = "your User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control",placeholder = "your Password") }}

            <br>

            <div class="checkbox mb-3">
                <h6>if you dont have an account click here</h6>
                <a  class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg  btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}