{%extends "base.html"%}
{% block title %}
    Market page
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 5px;margin-left: 5px;">
    <div class="col-8">
        <h2>Available items on the market</h2>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>    
                    
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>
           
                </tr>
            </thead>
            <tbody>
                    {% for item in items %}
                    {% include 'includes/modal.html' %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.barcode}}</td>
                            <td>{{item.Price}}$</td>
                            <td>
                                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More info</button>
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{item.id}}">Purchase this item</button>
                            </td>
                        </tr>
                    {% endfor %}
                    
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Owend items</h2>
        <br>
        <div class="row">
            {% for owend_item in owend_items %}
            {% include 'includes/owend_item_modal.html' %}
              <div class="col-md-6">
                   <div style="margin-bottom: 5px;" class= "text-center bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">{{owend_item}}</h5>
                            <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px;" data-toggle="modal" data-target="#Modal-sellingConfirm-{{owend_item.id}}">
                                Sell this item 
                            </button>
                            <p class="caerd-text"><strong>This item costs {{owend_item.Price}}$</strong></p>
                        </div>
                   </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}